article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/* Body Styles
*********************************************
*/
* {
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
  padding: 0;
}

/* Typography
************************************************
*/
h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 8px;
  margin: 0;
}
pre {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 16px;
  color: darken($green,40%);
  text-shadow: 0 1px 0 $green;
  line-height: 2;
  overflow: auto;
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background: darken($green,7.5%);
}

/* Sections
***********************************************
*/
section {
  padding: 10% 5%;
}
/* First Section */
.first {
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  @include background-size(cover);
  p {
    width: 50%;
    margin: 7.5% auto;
    text-align: center;
  }
}
.buttons {
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 25px;
    a {
      font-size: 30px;
      color: white;
      padding: 20px;
      background: $orange;
      border: 2px solid $orange;
      border-radius: 10px;
      text-decoration: none;
      @include single-transition(all, 0.3s, ease);
      &:hover, &:active, &:focus {
        background: none;
        border: 2px solid white;
      }
    }
  }
}
/* Second Section */
.second {
  background: $teal;
}
/* Third Section */
.third {
  background: $green;
}

/* Video Gallery
************************************************
*/
.video {
  @include grid;
  img {
    width: 100%;
    @include hover;
  }
}

/* Images 
********************************************
*/
img {
  max-width: 100%;
  height: auto;
}

/* Clearfix 
********************************************
*/
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Footer 
************************************************
*/
